---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import { render } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import Output from "../../components/Output.astro";
import Prompt from "../../components/Prompt.astro";
import Webmentions from "../../components/indieweb/Webmentions.astro";
import BlogPostMetadata from "../../components/BlogPostMetadata.astro";

export const getStaticPaths = (async () => {
    const posts = await getCollection("posts");

    return posts.map((entry) => {
        return {
            params: { slug: entry.id },
            props: { post: entry },
        };
    });
}) satisfies GetStaticPaths;

export const prerender = false
const { post: entry } = Astro.props;
const { Content } = await render(entry);
---

<Layout title={entry.data.title}>
    <Fragment slot="head">
        <meta name="author" content={entry.data.author} />
        <meta name="description" content={entry.data.summary} />
    </Fragment>
    <div class="h-entry">
        <Prompt>site blog cat .</Prompt>
        <Output>
            <BlogPostMetadata {entry} />
            <data class="u-url" value={Astro.url.pathname}></data>
        </Output>
        <Output>
            <div class="e-content">
                <Content />
            </div>
        </Output>
    </div>

    <Prompt>site blog cat --dynamic .</Prompt>
    <Output>
        <noscript>
            <p class="text-red">
                Your browser does not support JavaScript. This section cannot be loaded as it contains dynamic content
                not immediately rendered on the server.
            </p>
        </noscript>

        <h1>Webmentions</h1>
        <Webmentions id={entry.id}>
            <p slot="fallback" class="text-muted">Loading webmentions...</p>
        </Webmentions>
    </Output>
</Layout>

<style lang="scss">
    .e-content :global(p) {
        margin-bottom: 1em;
    }
</style>
