---
import type { CollectionEntry } from "astro:content";
import Indented from "./Indented.astro";
import constants from "../assets/constants";

interface Props {
    entry: CollectionEntry<"posts">;
}

const { entry } = Astro.props;
---

<h1 class="p-name">{entry.data.title}</h1>
<p><span class="text-teal p-summary">{entry.data.summary}</span></p>
<Indented>
    <p>
        <span class="text-muted">Written by: </span>{
            Object.keys(constants.authors).find((key) => key == entry.data.author) ? (
                <a rel="author" class="text-green p-author h-card" href={constants.authors[entry.data.author].url}>
                    {entry.data.author}
                </a>
            ) : (
                <span class="text-yellow">{entry.data.author}</span>
            )
        }
    </p>
    <p>
        <span class="text-muted">Posted on: </span><time class="dt-published">{entry.data.created.toISOString()}</time>
    </p>
    {
        entry.data.lastmodified && (
            <p>
                <span class="text-muted">Last modified: </span>
                <time class="dt-updated">{entry.data.lastmodified.toISOString()}</time>
            </p>
        )
    }
</Indented>
