---
import type { CollectionEntry } from "astro:content";

import Indented from "./Indented.astro";

interface Props {
    entry: CollectionEntry<"posts">;
}

const { entry } = Astro.props;
---

<div>
    <h2>{entry.data.title}</h2>
    <Indented>
        <p><a href={`/blog/${entry.id}`}>[read]</a></p>
        <p><span class="text-muted">Written by: </span><span class="text-green">{entry.data.author}</span></p>
        <p><span class="text-muted">Posted on: </span>{entry.data.created.toISOString()}</p>
        {
            entry.data.lastmodified && (
                <p>
                    <span class="text-muted">Last modified: </span>
                    {entry.data.lastmodified.toISOString()}
                </p>
            )
        }
    </Indented>
</div>
