---
import "@fontsource/ubuntu-mono";
import "@csstools/normalize.css";

import "../styles/kosugimaru.scss";
import "../styles/main.scss";

import pkg from "../../package.json";

import Prompt from "../components/Prompt.astro";
import Output from "../components/Output.astro";
import Indented from "../components/Indented.astro";

import { Image } from "astro:assets";
import { format } from "date-fns";
import constants from "../assets/constants";

const { title } = Astro.props;
---

<!doctype html>
<!--
    Thanks for checking in :3 I know you cannot really read the source of this with just view source,
    so there's a link to the actual readable source down below. Have fun making your own website!
-->
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href={constants.avatar} title="site icon of soopy.moe" />
        <meta name="generator" content={Astro.generator} />
        <title>site@soopy:~{Astro.url.pathname} {title && "| " + title}</title>

        <!-- indieweb stuff -->
        <link rel="authorization_endpoint" href="https://indielogin.com/auth" />
        <link rel="webmention" href="https://webmention.io/soopy.moe/webmention" />

        <slot name="head" />
    </head>
    <body>
        <Output><p>Last login: {format(new Date(), "EEE MMM dd HH:mm:ss yyyy xxx")}</p></Output>
        <p id="screen-warning" class="text-yellow">
            <b>WARN:</b> Your screen is a little too compact. Some command outputs may become garbled.
        </p>
        <p class="text-yellow"><b>WARN:</b> Construction in progress!</p>
        <header>
            <Prompt>pwd && eza -D ~/pages</Prompt>
            <Output>
                <p>~{Astro.url.pathname}</p>
                <div id="dir-listing">
                    <a href="/">home</a>
                    <a href="/blog">blog</a>
                    <a href="/about">about</a>
                </div>
            </Output>
        </header>

        <slot />

        <footer>
            <Prompt>nix run /flake#footer</Prompt>
            <!-- Webrings -->
            <Output>
                <p>Webrings:</p>
                <ul>
                    <li>
                        <a href="https://webring.bucketfish.me">bucketfish</a>
                        <a href="https://webring.bucketfish.me/redirect.html?to=prev&name=soopyc">[prev]</a>
                        <a href="https://webring.bucketfish.me/redirect.html?to=next&name=soopyc">[next]</a>
                    </li>
                    <li>
                        <a href="https://xn--sr8hvo.ws">indieweb</a>
                        <a href="https://xn--sr8hvo.ws/previous">[prev]</a>
                        <a href="https://xn--sr8hvo.ws/next">[next]</a>
                        <a href="https://xn--sr8hvo.ws/random">[rand]</a>
                    </li>
                </ul>
            </Output>

            <Prompt>nix run /flake#buttons</Prompt>
            <Output>
                <div id="buttons">
                    <Image width="88" height="31" src="/images/buttons/transnow2.gif" alt="trans rights now" />
                    <Image
                        width="88"
                        height="31"
                        src="/images/buttons/valid-bad.gif"
                        alt="w3c certified bad html"
                    />
                    <Image width="88" height="31" src="/images/buttons/valid-css-blue.gif" alt="w3c valid css" />
                    <Image
                        width="88"
                        height="31"
                        src="/images/buttons/windose20.png"
                        alt="windose 20 from needy streamer overload"
                    />
                </div>
            </Output>

            <Prompt>site --version</Prompt>
            <Output>
                <p>v{pkg.version}</p>
                <Indented>
                    <p>Built with: {Astro.generator}</p>
                    <p>Source: <a href="//github.com/soopyc/soopyc.github.io">github:soopyc/soopyc.github.io</a></p>
                </Indented>
            </Output>

            <Prompt>^D</Prompt>
            <Output>logout</Output>
        </footer>
    </body>
</html>

<style lang="scss">
    #screen-warning {
        display: block;

        @media (min-width: 50ch) {
            display: none;
        }
    }

    #dir-listing,
    #buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 1ch;
    }
</style>
